@media (max-width: 768px) {
    .cake {
        margin-bottom: 11vw;
        
        &__wrapper {
            padding-left: 0;
            flex-direction: column;
            gap: 8vw;
            align-items: center;
        }
        
        &__text {
            padding-top: 15vw;
            padding-bottom: 0;
            margin: auto;
            width: 74vw;
            text-align: center;
            line-height: 0.9;

            span {
                display: block;
            }

            span:not(:last-child) {
                margin-bottom: 5vw;
            }

        }

        &__img {
            width: 62vw;
        }
    }
}