@import 'variables';

@font-face {
    font-family: "Summer";
    src: url(../fonts/summer.woff);
}

@font-face {
    font-family: "ClearSans";
    src: url(../fonts/ClearSans-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "leOsler";
    src: url(../fonts/leOsler/LeOsler-RoughRegular.ttf);
    font-weight: 400;
}



*,
::before,
::after {
    box-sizing: border-box;
}

h1, h2, h3, h4, li, p {
    padding: 0;
    margin: 0;
    cursor:default;
    // font-weight: normal;
}

hr {
    padding: 0;
    margin: auto;
}

a {
    text-decoration: none;
    color: $white-text-color !important;
}

ul {
    padding: 0;
    list-style: none;
    margin-block-end: 0;
    margin-block-start: 0;
}

html {
    scroll-behavior: smooth;
}



body {
    margin: 0;
    background: #ffffff; //для проверки
}

.phone {
    text-decoration: none;
    color: $white-text-color !important;
}

.main-container {
    position: relative;
    margin: auto;
    max-width: min(1920px, 100%);
    min-height: clamp(900px, 364vw, 6000px);
    overflow: hidden;
    font-family: "leOsler", sans-serif;
    line-height: 1;
    background-color: #FFFFFF;
}



.main {
    position: relative;
    margin: auto;
    width: 100%;  
    background: url("../img/main-bg.png");
    background-size: 100% auto;
    background-repeat: no-repeat; 
}

.pink-btn {
    display: inline-block;
    background: url("../img/btn-bg.svg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: $white-text-color;
    width: clamp(300px, 33vw, 552px);
    height: clamp(70px, 8.5vw, 200px);
    font-size: clamp(24px, 3.6vw, 60px);
    text-transform: uppercase;
    letter-spacing: 0.6rem;
    padding-top: 6%;
    padding-left: 6%;
    cursor: pointer;
    transition: scale .2s ease-in-out;

    &:hover {
        scale: 1.05;    
    }
}

.white-btn {
    display: inline-block;
    background: url("../img/btn-bg-white.svg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: $purple-text-btn-color;
    width: clamp(50px, 19.8vw, 382px);
    height: clamp(40px, 5vw, 98px);
    font-size: clamp(14px, 1.5vw, 40px);
    text-transform: uppercase;
    letter-spacing: 0.6rem;
    padding-top: 6%;
    padding-left: 6%;
    cursor: pointer;
    transition: opacity .2s ease-in-out;

    &:hover {
        opacity: 0.8;
    }
}

.purple-btn {
    display: inline-block;
    background: url("../img/btn-bg-purple.svg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: $white-text-color;
    width: clamp(253px, 19.8vw, 382px);
    height: clamp(40px, 5vw, 98px);
    font-size: clamp(14px, 1.5vw, 40px);
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    padding-top: 1%;
    // padding-left: 6%;
    border: none;
    font-family: "leOsler", sans-serif;
    cursor: pointer;
    transition: opacity .2s ease-in-out;

    &:hover {
        opacity: 0.8;
    }

}

.title {
    margin-bottom: clamp(20px, 3.2vw, 60px);
    font-family: "leOsler", sans-serif;
    font-size: clamp(40px, 5.2vw, 110px);
    color: $brown-text-color;
    text-align: center;
}

.text {
    font-size: clamp(30px, 4.2vw, 90px);
    font-family: "Summer", sans-serif;
    color: $brown-text-color;
    text-align: center;
}




//стили для формы

.form-box {

    display: flex;
    flex-direction: column;
    

   

    &__p {
        font-size: clamp(20px, 2.5vw, 60px);
        color: $white-text-color;
        line-height: 1.6;
        text-align: center;

        &_mob {
            display: none;
        }   
    }
    .b24-form-padding-side, .b24-form-content {
        padding: 0;
    }

    .b24-form-wrapper.b24-form-border-bottom {
        width: clamp(200px, 25vw, 600px)    ;
        border: none !important;
        background: none;
        min-height: 140px;
    }
    
    .b24-form-control.form-box-input, .b24-form-control, .b24-form-control:focus {
        // padding: 0;
        padding-top: 0 !important;
        height: clamp(20px, 3vw, 100px) !important;
        padding-left: 8% !important;
        background: #ffffff !important;
        border-radius: 36px !important;
        border: none;

            &::placeholder {
                color: rgba(0, 0, 0, .5);
            }
        
    }

    .b24-form-control-label {
        opacity: 0;
    }

    .b24-form-control-string {
        text-align: left;
    }

    .b24-form-control {
        padding-left: 4%;
    }
    
    .b24-form-control-label {
        padding-left: 8% !important;

    }


    .b24-form-btn.purple-btn {
        display: inline-block;
        padding: 0;
        padding-top: 1%;
        background: url("../img/btn-bg-purple.svg");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        color: $white-text-color;
        width: clamp(253px, 19.8vw, 382px);
        height: clamp(40px, 5vw, 98px);
        font-size: clamp(14px, 1.5vw, 40px);
        text-transform: uppercase;
        letter-spacing: 0.3rem;
        padding-top: 1%;
        box-shadow: none;
        border: none;
        font-family: "leOsler", sans-serif;
        cursor: pointer;
        transition: opacity .2s ease-in-out;
    
        &:hover {
            opacity: 0.8;
        }
    
    }

    .b24-form-control-agreement {
        text-align: start;
    }
    
    .b24-form-field-agreement-link {
        font-size: 13px !important;
        white-space: nowrap;
        font-family: 'ClearSans', sans-serif;
        letter-spacing: 0.05rem;
    }

    .b24-form-control-container {
        display: flex;
        align-items: center;
        color: black;
    }

    .b24-form-control-required, .b24-form-sign {
        // opacity: 0;
        display: none;
    }

    .b24-form-control-desc {
        opacity: 1 !important;
    }

    .b24-form-control-container {
        gap: 4%;

        input {
            margin: 0;
        }
    }

    .b24-form-field {
        margin-bottom: 30px;
    }

  


}

.cake-card {
    padding: 20px 10px;
    background: #ffffff;
    border-radius: 6px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    font-family: "ClearSans";

    &__photo-wrapper {
        margin-bottom: 10px;
        border-radius: 6px;
    }

    &__photo {
        object-fit: contain;
        width: 100%;
        height: 100%;
    }

    &__info {
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__weight {
        margin-bottom: 8px;
        font-size: clamp(8px ,0.8vw, 60px);
        color: #BFBFBF;
        text-align: end;
    }

    &__composition {
        text-align: end;
        padding: 4px clamp(2px, 1.3vw, 33px);
        border: 1px solid #C44890;
        border-radius: 6px;
        color: #C44890;
        font-size: clamp(6px ,0.8vw, 60px);
       

        &._active {
            background: #C44890;
            color: $white-text-color;
        }
    }

    &__name {
        margin-bottom: 20px;
        font-size: clamp(9px, 1.1vw, 30px);
    }

    &__price {
        font-size: clamp(9px, 1.1vw, 30px);
        font-weight: 700;
    }

    &__composition-list {
        display: none;
        margin-bottom: 27px;
        padding: 12px 0;
        width: 100%;
        text-align: center;
        color: #515151;
        background: #D9D9D9;
        border-radius: 6px;
        font-size: clamp(8px ,0.8vw, 60px);

        &._active {
            display: block;
        }
    }

    &__cart-functions {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

    &__add-btn {
        display: none;
        width: 100%;
        border-radius: 6px;
        padding: 6px 0;
        text-align: center;
        border: none;
        color: $white-text-color;
        font-size: clamp(8px, 0.8vw, 60px);
        background: #7cbd41;
        line-height: 1.57;

        &._active {
            display: block;
        }
    }

    &__status {
        display: none;
        border-radius: 6px;
        padding: 6px clamp(1px, 2vw ,60px);
        background: #C44890;
        color: $white-text-color;
        font-size: clamp(8px ,0.8vw, 60px);
        line-height: 1.57;
        // width: 134px;
        // height: 34px;

        &._active {
            display: block;
        }
    }

    &__counter {
        display: none;
        border-radius: 6px;
        padding: 6px clamp(5px, 1.8vw, 55px);
        // width: 120px;
        // height: 34px;
        background: #e7e7e7;
        font-size: clamp(8px ,0.8vw, 60px);
        line-height: 1.57;
        flex-direction: row;
        gap: clamp(0px, 1.1vw, 50px);


        &._active {
            display: flex;
        }
    }

    &__minus, &__plus {
        color: #7CBD41;
    }
     



}








// @media (max-width: 1360px) {
//     .container {
//         max-width: 1140px;
//     }
// }

// @media (max-width: 1140px) {
//     .container {
//         max-width: 800px;
//     }

//     .contact-link {
//         span {
//             display: none
//         }
//     }

//     .menu, .social-links {
//         gap: clamp(12px, 3vw, 30px);
//     }

 

   
// }

@media (max-width: 768px) {
    .main {
        margin-top: -9vw;
        padding-bottom: 9vw;
        background-image: url("../img/main-bg-image-mob.png");
        background-size: 100% auto;
        background-repeat: no-repeat;  
    }

    .pink-btn {
        padding-top: 11%;
        padding-left: 0%;
        width: 38vw;
        height: 14vw;
        letter-spacing: 0.1rem;
        font-size: 4.8vw;
    }

    .white-btn {
        display: inline-block;
        width: 36vw;
        height: 14vw;
        background: url("../img/btn-bg.svg");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        color: $white-text-color;
        letter-spacing: 0.2rem;
        padding-left: 0;
    }

    .title {
        margin: auto;
        background-image: url("../img/title-vector-mob.svg");
        background-size: 100% 100%;
        background-repeat: no-repeat; 
        font-size: 7vw;
        width: min-content;
    }

    .text {
        font-size: 5.6vw;
    }

    // .form {
    //     gap: 3vw;
    //     &__p {

    //         &_mob {
    //             margin-bottom: 9vw;
    //             display: inline-block;
    //             color: #C6ACC7;
    //             font-size: 6vw;
    //             font-family: "Summer", sans-serif;
    //         }

    //         &_desk {
    //             display: none;
    //         }
            
    //     }

    //     // &__input {
    //     //     padding-left: 4%;
    //     //     width: 60vw;
    //     // }

    //     .checkbox-label {
    //         font-size: 2vw;
    //         color: $white-text-color;
    //     }

       
    // }

    
    .form-box {
        gap: 6vw;

        &__p {

            &_mob {
                // margin-bottom: 9vw;
                display: inline-block;
                color: #C6ACC7;
                font-size: 6vw;
                font-family: "Summer", sans-serif;
            }

            &_desk {
                display: none;
            }
            
        }

        .b24-form-wrapper.b24-form-border-bottom {
            width: 60vw;
        }

        .b24-form-btn-block {
            padding: 0;
            text-align: center;
        }

        .b24-form-btn.purple-btn {
            margin: auto;
            background: url("../img/btn-bg.svg");
            background-size: 100% 100%;
            background-repeat: no-repeat;
            color: $white-text-color;
            font-size: 3vw;
            letter-spacing: 0.14rem;
         
            width: 38vw;
            height: 10vw;
            min-height: 20px;
        
        }

        .b24-form-control.form-box-input, .b24-form-control, .b24-form-control:focus {
            font-size: 2.3vw;
        }

        .b24-form-control-agreement, .b24-form-field-agreement-link {
            color: $white-text-color;
            
          
        }
        // .b24-form-control.form-box-input {
        //     // width: 60vw;
        // }

        .b24-form-field-agreement-link {
            font-size: 2.1vw !important;
        }

        .b24-form-control-string {
            margin-bottom: 2vw;
        }

        
    }

    .cake-card {
        padding: 5% 3%;

        &__photo-wrapper {
            margin-bottom: 3px;
        }

        &__info {
            margin-bottom: 4vw;
        }

        &__composition-list {
            margin-bottom: 4vw;
            font-size: 2vw;
            padding: 1.4vw 0;
            border-radius: 3px;
        }

        &__name {
            margin-bottom: 2vw;
        }

        &__composition {
            padding: 0.9vw 3vw;
            border-radius: 3px;
            font-size: 2vw;
        }

        &__add-btn {
            padding: 0.8vw 0;
            text-align: center;
            font-size: 2vw;
            border-radius: 3px;
        }

        &__status {
            padding: 0.8vw 4.3vw;
            border-radius: 3px;
            font-size: 2vw;
        }

        &__counter {
            padding: 0.8vw 4.3vw;
            gap: 2vw;
            border-radius: 3px;
            font-size: 2vw;
        }
    
    }
  
}

@import 'blocks/promo/promo';
@import 'blocks/promo/media';
@import 'blocks/cake/cake';
@import 'blocks/cake/media';
@import 'blocks/order/order';
@import 'blocks/order/media';
@import 'blocks/assortment/assortment';
@import 'blocks/assortment/media';
@import 'blocks/masters/masters';
@import 'blocks/masters/media';
@import 'blocks/faq/faq';
@import 'blocks/faq/media';


