.assortment {
    position: relative;
    margin-bottom: clamp(80px, 6.6vw, 300px);
    background-image: url("../img/swiper-goods-bg-desk.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;

    .text {
        margin-bottom: clamp(30px, 11vw, 300px);
    }

    &__items {
        height: clamp(300px, 38vw, 1000px);
        width: clamp(600px, 76vw, 1800px);
    }

    .assortment-button-prev, .assortment-button-next {
        position: absolute;
        z-index: 2;
    }

    .assortment-button-prev {
        top: 65%;
        transform: translate(0%, -50%);
        left: 6%;
    }

    .assortment-button-next {
        right: 6%; 
        top: 65%;
        transform: rotate(180deg) translate(0%, -50%);

    }
}