.promo {
    position: relative;
    padding-bottom: 50px;
    margin-bottom: -50px;
    width: 100%;
    background: url("../img/promo-desk.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    overflow: hidden;
    min-height: clamp(400px, 78vw, 1500px );

    &__text {
        padding-top: clamp(30px, 5.4vw, 106px);
        margin-bottom: clamp(80px, 9.2vw, 146px);
        text-transform: uppercase;
        text-align: center;
        font-size: clamp(18px, 2.4vw, 44px);
        letter-spacing: 0.24rem;
        color: $brown-text-color;
    }

    &__text-box {
        position: relative;
        padding-top: clamp(30px, 3.3vw, 70px);
        margin: auto;
        width: clamp(300px, 44.2vw, 800px);
        height: clamp(300px, 35.3vw, 660px);
        background: url("../img/promo-bg-text-box.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        color: $white-text-color;
        text-align: center;
    }

    &__title {
        margin-bottom: clamp(30px, 2.7vw, 70px);
        font-size: clamp(50px, 7vw, 130px);
        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
       
    }

 


    
    // &__img {
    //     position: relative;
    //     width: 100%;
    //     height: clamp(600px, 37vw, 700px);
    //     overflow: hidden;
    //     img {
    //         height: 100%;
    //         position: absolute;
    //         left: 50%;
    //         transform: translateX(-50%);
    //     }
    // }

    // &__title {
    //     position: absolute;
    //     width: 100%;
    //     top: 50%;
    //     left: 50%;
    //     transform: translate(-50%, -55%);
    //     font-weight: 700;
    //     font-size: 50px;
    //     color: $main-color;
    //     z-index: 4;
    //     text-align: center;
    //     user-select: none;
    // }

  
    
}