@media (max-width: 768px) {
    .order {
        .title {
            margin-bottom: 3vw;
            padding: 9vw 20vw;
        }
        
        &__vars {
            padding: 0;
            background: url("../img/swiper-bg-mob.svg");
            background-size: contain;
            background-repeat: no-repeat;

           
    
        }

        &__var {
            padding-top: 11vw;
            max-width: 100%;
            height: auto;
        }

        &__text {
            margin: auto;
            margin-bottom: 8vw;
            line-height: 1.4;
            width: 46%;
            font-size: 4.4vw;
            text-align: center;
        
        }
    }

}