@media (max-width: 768px) {
    .order {
        .title {
            margin-bottom: 3vw;
            padding: 9vw 20vw;
        }
        
        &__vars {
            height: 62vw;
            padding: 0;
            background: url("../img/swiper-bg-mob.png");
            background-size: contain;
            background-repeat: no-repeat;
        }

        &__var {
            padding-top: 11vw;
            max-width: 100%;
            height: 100%;
            justify-content: start;
            align-items: center;
        }

        &__title {
            margin-bottom: 1.3vw;
            font-size: 4.8vw;
        }

        &__text {
            margin-bottom: auto;
            line-height: 1.4;
            width: 46%;
            font-size: 4.4vw;
            text-align: center;
            font-weight: 400;

            &_big {
                width: 60%;
            }
        
        }
    }

}